/* App.css */
body {
    margin: 0;
    padding: 0;
    background-color: #252525;
}

.container {
    display: flex;
    flex-direction: column;
    /*flex-wrap: wrap;*/
    align-items: center;
    justify-content: center;
    padding: 20px;
    box-sizing: border-box;
}


video {
    height: 100%;
    width: 100%;
    max-height: 20rem;
    object-fit: cover;
}

.row {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.video-group {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.video-wrapper {
    border-radius: 10px;
    overflow: hidden;
    margin: .5rem 0.1rem;
    height: 20rem;
    width: 26rem;
    position: relative;
}

.user-video {
    border: 3px solid #9d2323;
}

.partner-video {
    border: 3px solid #669d23;
}

.user-label {
    position: absolute;
    top: 10px;
    left: 10px;
    margin: 0 auto;
    color: white;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 5px 10px;
    border-radius: 5px;
    font-size: 1rem;
}


.dashboard-row {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.title-section {
    text-align: center;
    padding: 0;
    margin: 0;
}

.chat-title {
    background-color: #dddddd;
    width: 100%;
    height: 4rem;
    border-radius: 10px;
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

/*.join-chat-container {*/
/*    display: flex;*/
/*    flex-direction: column;*/
/*    align-items: center;*/
/*    justify-content: center;*/
/*    height: 100vh;*/
/*}*/

/*.join-chat-container input {*/
/*    padding: 10px;*/
/*    margin-bottom: 10px;*/
/*    width: 200px;*/
/*}*/

/*.join-chat-container button {*/
/*    padding: 10px 20px;*/
/*    cursor: pointer;*/
/*}*/

.title {
    padding: 0;
    margin: 0;
    font-size: 2em;
    font-weight: bold;
    color: #ffffff;
}

.subtitle {
    padding: 0;
    margin: 0;
    font-size: 1.2em;
    color: #9f9f9f;
}

.incoming-call {
    position: fixed; /* Fixed position relative to the viewport */
    top: 50%; /* Center vertically */
    left: 50%; /* Center horizontally */
    transform: translate(-50%, -50%); /* Adjust for the element's own size */
    /* Add additional styling as needed */
    z-index: 1000; /* Ensure it's above other elements */
    /* Optionally add a background, padding, etc., to make it stand out */
    background: #fff; /* Example background */
    padding: 20px; /* Example padding */
    border-radius: 8px; /* Example border styling */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Example shadow for visibility */
}


.sessions {
    width: 13.2rem;
    max-height: 20rem;
    overflow-y: auto;
}

.chat-session {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    max-height: 30rem;
    width: 20rem;
}

.chat-messages {
    height: 200px;
    overflow-y: auto;
    border-bottom: 1px solid #ddd;
    margin-bottom: 20px;
    padding: 10px;
}

.chat-input {
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    background-color: #c5c5c5;
    width: 90%;
}

.default-col {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
}

.chat-button {
    width: 100%;
    background-color: #007bff;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.chat-button:hover {
    background-color: #0056b3;
}

.call-button {
    max-width: 12rem;
    background-color: #669d23;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    margin: 10px;
    cursor: pointer;
    font-size: .7rem
}

.call-button:hover {
    background-color: #4b731a;
}

.login-button{
    cursor: pointer;
}

.logout-button{
    cursor: pointer;
}

.authentication-section {
    background-color: #dddddd;
    border-radius: 1rem;
    padding: .5rem 1rem;
    font-size: 0.8rem;
    text-align: center;
    max-width: 10rem;
    overflow: hidden;
    word-break: break-word;
    overflow-wrap: break-word;
}

.info{
    background-color: #a14747;
    padding: 1rem;
    border-radius: .5rem;
    text-align: center;
}

.bold{
    font-weight: bold;
}


.underlined{
    text-decoration: underline;
}